/target
/persian/*.ser.gz
#/persian/train.pos
#/persian/test.pos
/persian/ArmanPersoNERCorpus
/persian/train/train_fold1.txt.pos.dep
/persian/train/train_fold2.txt.pos.dep
/persian/train/train_fold3.txt.pos.dep
/persian/test/test_fold3.txt.pos.dep
/persian/test/test_fold1.txt.pos.dep
/persian/test/test_fold2.txt.pos.dep
/persian/word-embeddings/idx2word_20k.txt
/persian/word-embeddings/GloVe
/persian/word-embeddings/GloWP
/persian/word-embeddings/GloVe.vec
/persian/word-embeddings/GloWP.vec
/persian/word-embeddings/idx2word.txt
/persian/word-embeddings/wor2vec_skipgram300d.txt.zip
/persian/word-embeddings/wor2vec_skipgram300d.txt.vector
/persian/word-embeddings/wor2vec_skipgram300d.txt.index
/persian/word-embeddings/wor2vec_skipgram300d.txt
persian/nsurl/300K/
persian/nsurl/600K/
persian/social/results/t0/
persian/social/results/t1/f1/ner-model.ser.gz
persian/social/results/t1/f2/ner-model.ser.gz
persian/social/results/t1/f3/ner-model.ser.gz
persian/social/social.zip
persian/social/social_folds.rar
persian/test/fold3/
persian/test/test_fold1.txt.dep
persian/test/test_fold2.txt.dep
persian/test/test_fold3.txt.dep
persian/train/fold3/
persian/train/train_all.txt.dep
persian/train/train_all.txt.dep.zip
persian/train/train_fold1.txt.dep
persian/train/train_fold2.txt.dep
persian/train/train_fold3.txt.dep
persian/word-embeddings/wor2vec_skipgram300d.zip
