
/target
/persian/*.ser.gz
#/persian/train.pos
#/persian/test.pos
/persian/ArmanPersoNERCorpus
/persian/train/train_fold1.txt.pos.dep
/persian/train/train_fold2.txt.pos.dep
/persian/train/train_fold3.txt.pos.dep
/persian/test/test_fold3.txt.pos.dep
/persian/test/test_fold1.txt.pos.dep
/persian/test/test_fold2.txt.pos.dep
/persian/word-embeddings/idx2word_20k.txt
/persian/word-embeddings/GloVe
/persian/word-embeddings/GloWP
/persian/word-embeddings/GloVe.vec
/persian/word-embeddings/GloWP.vec
/persian/word-embeddings/idx2word.txt
/persian/word-embeddings/wor2vec_skipgram300d.txt.zip
/persian/word-embeddings/wor2vec_skipgram300d.txt.vector
/persian/word-embeddings/wor2vec_skipgram300d.txt.index
/persian/word-embeddings/wor2vec_skipgram300d.txt
